<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Incident-Management-Tool</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="../../css/main.css" rel="stylesheet" type="text/css"/>

    <link
            href="../../css/home.css"
            rel="stylesheet"
            th:href="@{/css/home.css}"
    />
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Movie-Night-Application</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/movies">Movies</a></li>
                <li><a href="/genres">Genres</a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
