<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Incident-Management-Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="../../css/main.css" />

    <link
      rel="stylesheet"
      th:href="@{/css/home.css}"
      href="../../css/home.css"
    />
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Movie-Night-Application</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/movies">Movies</a></li>
            <li><a href="/genres">Genres</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>
