<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Incident-Management-Tool</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>

    <link href="../../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="../../css/main.css" rel="stylesheet" type="text/css"/>

    <link
            href="../../css/home.css"
            rel="stylesheet"
            th:href="@{/css/home.css}"
    />
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Movie-Night-Application</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/movies">Movies</a></li>
                <li><a href="/genres">Genres</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--TABELLE-->
<div class="container">
    <div class="ticket_list">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="data-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Overview</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="movie : ${movies}">
                    <td><p><span th:text="${movie.title}"></span></p></td>
                    <td><p><span th:text="${movie.overview}"></span></p></td>
                    <td><a class="" th:href="@{'/movie/' + ${movie.id}}">
                        <button class="btn btn-primary" type="button">View</button>
                    </a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
